<!DOCTYPE html>
<html>
    <head>
        <title>EJS예제</title>
        <script type = "text/javascript" src = "./js/rsp.js"></script> <!-- src에 파일경로가 아니라 웹서버내의 경로를 적어야함-->
    </head>
    <body>
        <p>EJS 페이지</p> 
        <p><%= name%></p> 
    </body>
</html>